# The watch/ directory is purely for container communication.
watch

# Don't store container-specific overrides.
transmission.env

# Most everything in transmission is created on first boot.
transmission
 
# This shouldn't be updated unless forced to add or change defaults.
transmission/info/settings.json

# Do not save any flexget/ files except the sample.config.yml example.
flexget
!flexget/sample.config.yml
